.text-logo-up{
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    font-family:'Raleway', sans-serif;
    line-height: 21px;
    letter-spacing: 0.03em;
}

.text-logo-blue{
    color: #4D5AE5;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;

}

a{
    text-decoration: none;
    color: #2E2F42;
}

ul{
    list-style: none;
}


.nav-menu{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    font-style: medium;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.contacts{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.nav-menu a:hover,
.nav-menu a:focus{
    color: #404BBF;
}
.contacts a:hover,
.contacts a:focus{
    color: #404BBF;
}

.box-title{
    color: #FFFFFF;
    background-color: #2E2F42;
}
.main-title{
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    font-style: bold;
    line-height: 60px;
    letter-spacing: 0.02em;
}
.section-title{
    color: #2E2F42;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    font-style: bold;
    line-height: 40px;
    letter-spacing: 0.02em;
}
.describing-title{
    color: #2E2F42;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.order-button{
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}
.order-button:hover,
.order-button:focus{
    background-color: #404BBF;
}
.team-box{
    background-color: #F4F4FD;
}
.team-card{
    background-color: #FFFFFF;
}
.team-box h3, 
.team-box p{
    text-align: center;
}


.end-of-site{
    color: #FFFFFF;
    background-color: #2E2F42;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.end-of-site a{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
}

